@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --room-width: 650px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 3s linear infinite;
}

/* 移除默认样式，否则 iOS 中不会显示 ring */
input, textarea {
  appearance: none
}
