@import "tailwindcss";
@import "@nuxt/ui";

.text-x-tools-green {
  color: #238636 !important;
}

.bg-x-tools-green {
  background-color: #238636 !important;
}

:root {
  --content-height: calc(100vh - 83px);
  --tab-content-height: calc(100% - 48.8px);
  --room-width: 650px;
}

/* filter: drop-shadow(rgba(0, 122, 204, 0.3) 0px 8px 24px); */
